<hello name="{{ name }}"></hello>
<p>
  WebGL :
</p>
<a href="https://webglfundamentals.org/webgl/lessons/webgl-fundamentals.html" target="_blank">Start1 </a> |
<a href="https://www.toptal.com/javascript/3d-graphics-a-webgl-tutorial" target="_blank">Start2</a><a href="https://coursetro.com/posts/code/171/Angular-7-Tutorial---Learn-Angular-7-by-Example" target="_blank"> | Angular 7</a>

<a href="https://www.quora.com/Are-there-any-free-video-converters/answer/Peter-Wang-407?pa_story=ODU4NTU5MzIwOTE1NTU5MjJ8MjExMTA2MjM0NTgzMTIyfDA*" target="_blank">| Free Video Converter</a> 
<h2> Practice:</h2>
<a routerLink="./dayone">shader day 1</a>
<a routerLink="./blog">blog</a>
<!-- main content container -->
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>